<a href="https://colab.research.google.com/github/AJAY-22/Python_Practicals/blob/main/LabManual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1] Intro to Data Types, Operations and conditional statements.
---

> ## 1.1] Write aprogram to print “Hello World”.

In [ ]:
print("Hello World")

Hello World

> ## 1.2] Write a program to find maximum number out of 3 numbers.

In [ ]:
numbers=[11, 34, 5]

'''For user input'''
for x in range(len(numbers)):
    inp = float(input(f'Enter #{x+1} '))
    numbers[x] = inp

max=numbers[0]

for x in numbers:
    if max<x:
        max=x

print("Max number is :" ,max)

Enter #1 10
Enter #2 5
Enter #3 86
Max number is : 86.0

> ## 1.3] Write a program to swap the values of two variables without using temporary variable.

In [ ]:
a, b = 1, 2
print('Before swapping \na :', a, '\nb :', b)
a, b = b, a
print('\nAfter swapping \na :', a, '\nb :', b)

Before swapping
a : 1
b : 2

After swapping
a : 2
b : 1

> ## 1.4] Write a program to implement calculator.

In [ ]:
from IPython.display import clear_output 



while True:
    print('1) Add\n2) Subtract\n3) Multiply\n4) Divide\n5) Exit')
    choice = int(input('Enter your choice '))
    clear_output()
    
    if choice in [1, 2, 3, 4]:
        if choice is 1:
            print('ADDITION\n')
            a = int(input('Enter number '))
            b = int(input('Enter number '))
            print(a, '+', b, '=', a+b)
        
        if choice is 2:
            print('SUBTRACTION\n')
            a = int(input('Enter number '))
            b = int(input('Enter number '))
            print(a, '-', b, '=', a-b)

        if choice is 3:
            print('MULTIPLICATION\n')
            a = int(input('Enter number '))
            b = int(input('Enter number '))
            print(a, '*', b, '=', a*b)
        
        if choice is 4:
            print('DIVISION\n')
            a = int(input('Enter number '))
            b = int(input('Enter number '))
            print(a, '/', b, '=', a/b)

    elif choice is 5:
        break
    else:
        clear_output()
        print('Invalid Input\n')


> ## 1.5] Write a Python program to calculate the sum of the digits in an integer.

In [ ]:
num = int(input("Your number (must be 4 digit) : "))
x = num//1000
x1 = (num - x*1000)//100
x2 = (num - x*1000 - x1*100)//10
x3 = (num - x*1000 - x1*100 - x2*10)

print(f'sum of number\'s digits : {x+x1+x2+x3}')

Your number (must be 4 digit) : 5588
sum of number's digits : 26

# 3] Study of List and Tuple
---

> ## 3.1] Write a program to remove duplicates from list.

In [ ]:
myList = ['One', 'two', 'two', 'three', 'three', 'three', 'four']
unique = []

print('original list :', myList)

for el in myList:
    if el not in unique:
        unique.append(el)

print('without duplicates :', unique)

original list : ['One', 'two', 'two', 'three', 'three', 'three', 'four']
without duplicates : ['One', 'two', 'three', 'four']

> ## 3.2] Write a program to find frequency of elements of list.

In [ ]:
my_list = [7, 2, 6, 5, 8, 7, 8, 3, 2, 3]
unique = []
for el in my_list:
    if el not in unique:
        unique.append(el)

for el in unique:
    print('Frequency of ', el, 'in my_list :', my_list.count(el))

Frequency of  7 in my_list : 2
Frequency of  2 in my_list : 2
Frequency of  6 in my_list : 1
Frequency of  5 in my_list : 1
Frequency of  8 in my_list : 2
Frequency of  3 in my_list : 2

> ## 3.3] Write a program to sort given list.

In [ ]:
print('Original :', my_list)
my_list.sort()
print('Ascending :', my_list)
print('Descending :', my_list[::-1])

Original : [7, 2, 6, 5, 8, 7, 8, 3, 2, 3]
Ascending : [2, 2, 3, 3, 5, 6, 7, 7, 8, 8]
Descending : [8, 8, 7, 7, 6, 5, 3, 3, 2, 2]

> ## 3.4] Write a program to find minimum and maximumvalue in list of tuples.

In [ ]:
my_tuple_list = [(22, 1), (16, 3), (27, 11), (29, 9)]
print('Original list :', my_tuple_list)

zeroth = [tup[0] for tup in my_tuple_list]
first = [tup[1] for tup in my_tuple_list]

res1 = min(zeroth), max(zeroth)
res2 = min(first), max(first)
print('\nmin at 0th index of tuples :', res1[0], '\nmax at 0th index of tuples :', res1[1])
print('\nmin at 1st index of tuples :', res2[0], '\nmax at 1st index of tuples :', res2[1])

Original list : [(22, 1), (16, 3), (27, 11), (29, 9)]

min at 0th index of tuples : 16
max at 0th index of tuples : 29

min at 1st index of tuples : 1
max at 1st index of tuples : 11

> ## 3.5] Write a program to remove an element from tuple.

In [ ]:
myTuple = ('one', 'two', 'three', 'four', 'four', 'five')
print(myTuple)

('one', 'two', 'three', 'four', 'four', 'five')

In [ ]:
# Removing element using slicing
myTuple = myTuple[:3] + myTuple[4:]
print(myTuple)

('one', 'two', 'three', 'four', 'five')

In [ ]:
# Removing using typecast
myList = list(myTuple)
myList.remove('four')
myTuple = myList
print(myTuple)

['one', 'two', 'three', 'five']