<a href="https://colab.research.google.com/github/AJAY-22/Python_Practicals/blob/main/PyLabPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example of Python variable

---

> ## Integer variable

In [3]:
x=22
print(x)
print(type(x))

22
<class 'int'>

> ## Float variable

In [4]:
y=1.02
print(y)
print(type(y))

1.02
<class 'float'>

> ## String variable

In [5]:
name='Someone'
print(name)
print(type(name))

Someone
<class 'str'>

# String functions
---

> ## len()
```
len(variable_name)
```
Returns length of the variable

In [7]:
student_name = 'xyz abc ghj'
print('Lenght of the variable \'student_name\' is ', len(student_name))

Lenght of the variable 'student_name' is  11

> ## count()
```
variable_name.count(element)
```
Returns number of occurence of element in variable

In [11]:
student_name = 'yyy zz ab'
print('y occurs ', student_name.count('y'), 'times')
print('z occurs ', student_name.count('z'), 'times')
print('ab occurs ', student_name.count('ab'), 'times')

y occurs  3 times
z occurs  2 times
ab occurs  1 times

> ## title()
```
variable_name.title()
```
Returns variable in capitalized format

In [15]:
title=student_name.title()
print(title)

Yyy Zz Ab

> ## upper()
```
variable_name.upper()
```
Returns variable in uppercase format

In [16]:
upper=student_name.upper()
print(upper)

YYY ZZ AB

> ## lower()
```
variable_name.lower()
```
Returns variable in lowercase format

In [17]:
lower=student_name.lower()
print(lower)

yyy zz ab

> ## istitle()
```
variable_name.istitle()
```
Returns true if variable is in capitalized format otherwise false

In [21]:
print(title, ':', title.istitle())
print(upper, ':', upper.istitle())

Yyy Zz Ab : True
YYY ZZ AB : False

> ## isupper()
```
variable_name.isupper()
```
Returns true if variable is in uppercase format otherwise false

In [24]:
print(upper, ':', upper.isupper())
print(lower, ':', lower.isupper())

YYY ZZ AB : True
yyy zz ab : False

> ## islower()
```
variable_name.islower()
```
Returns true if variable is in lowercase format otherwise false

In [25]:
print(lower, ':', lower.islower())
print(upper, ':', upper.islower())

yyy zz ab : True
YYY ZZ AB : False

> ## find()
```
variable_name.find(element)
```
Returns index of the first occurence of element in variable if any,       
-1 otherwise

In [27]:
print(student_name.find('x'))
print(student_name.find('a'))

-1
7

> ## rfind()
```
variable_name.rfind(element)
```
Returns index of the last occurence of element in variable if any,       
-1 otherwise

In [28]:
print(student_name.rfind('x'))
print(student_name.rfind('y'))

-1
2

> ## replace()
```
variable_name.replace(str1, str2)
```
Returns updated string with str1 replaced with str2                                  
NOTE: variable_name will not get updated

In [32]:
new_name = student_name.replace('ab', '12')
print(student_name)
print(new_name)

yyy zz ab
yyy zz 12