<a href="https://colab.research.google.com/github/AJAY-22/Python_Practicals/blob/main/PyLabPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example of Python variable
---
---

## Integer variable

In [ ]:
x=22
print(x)
print(type(x))

22
<class 'int'>

## Float variable

In [ ]:
y=1.02
print(y)
print(type(y))

1.02
<class 'float'>

## String variable

In [ ]:
name='Someone'
print(name)
print(type(name))

Someone
<class 'str'>

# String functions
---
---

## len()
```
len(variable_name)
```
Returns length of the variable

In [ ]:
student_name = 'xyz abc ghj'
print('Lenght of the variable \'student_name\' is ', len(student_name))

Lenght of the variable 'student_name' is  11

## count()
```
variable_name.count(element)
```
Returns number of occurence of element in variable

In [ ]:
student_name = 'yyy zz ab'
print('y occurs ', student_name.count('y'), 'times')
print('z occurs ', student_name.count('z'), 'times')
print('ab occurs ', student_name.count('ab'), 'times')

y occurs  3 times
z occurs  2 times
ab occurs  1 times

## title()
```
variable_name.title()
```
Returns variable in capitalized format

In [ ]:
title=student_name.title()
print(title)

Yyy Zz Ab

## upper()
```
variable_name.upper()
```
Returns variable in uppercase format

In [ ]:
upper=student_name.upper()
print(upper)

YYY ZZ AB

## lower()
```
variable_name.lower()
```
Returns variable in lowercase format

In [ ]:
lower=student_name.lower()
print(lower)

yyy zz ab

## istitle()
```
variable_name.istitle()
```
Returns true if variable is in capitalized format otherwise false

In [ ]:
print(title, ':', title.istitle())
print(upper, ':', upper.istitle())

Yyy Zz Ab : True
YYY ZZ AB : False

## isupper()
```
variable_name.isupper()
```
Returns true if variable is in uppercase format otherwise false

In [ ]:
print(upper, ':', upper.isupper())
print(lower, ':', lower.isupper())

YYY ZZ AB : True
yyy zz ab : False

## islower()
```
variable_name.islower()
```
Returns true if variable is in lowercase format otherwise false

In [ ]:
print(lower, ':', lower.islower())
print(upper, ':', upper.islower())

yyy zz ab : True
YYY ZZ AB : False

## find()
```
variable_name.find(element)
```
Returns index of the first occurence of element in variable if any,       
-1 otherwise

In [ ]:
print(student_name.find('x'))
print(student_name.find('a'))

-1
7

## rfind()
```
variable_name.rfind(element)
```
Returns index of the last occurence of element in variable if any,       
-1 otherwise

In [ ]:
print(student_name.rfind('x'))
print(student_name.rfind('y'))

-1
2

## replace()
```
variable_name.replace(str1, str2)
```
Returns updated string with str1 replaced with str2                                  
NOTE: variable_name will not get updated

In [ ]:
new_name = student_name.replace('ab', '12')
print(student_name)
print(new_name)

yyy zz ab
yyy zz 12

# Python Matrices and NumPy Arrays
---
---

## Matrix

A matrix is a two-dimensional data structure where numbers are arranged into rows and columns. For example:

![matrix.webp]()

Matrix with 4 columns and 3 rows
This matrix is a 3x4 (pronounced "three by four") matrix because it has 3 rows and 4 columns.

## Python Matrix

In [ ]:
A = [[22, 43, 15], 
    [-5, 4, 9],
    [6, -1, 10]] # Declaration of 3 X 3 matrix.

print("A[0,0] : ", A[0][0]) # accessing element 
print("2nd row : ", A[1]) # accessing row


# Lets create 3 empty lists for coloumns
column1 = []
column2 = []
column3 = []

#extracting column using loop

for row in A:
  column1.append(row[0])
  column2.append(row[1])
  column3.append(row[2])

print("1st column ", column1)
print("2nd column ", column2)
print("3rd column ", column3)

A[0,0] :  22
2nd row :  [-5, 4, 9]
1st column  [22, -5, 6]
2nd column  [43, 4, -1]
3rd column  [15, 9, 10]

## NumPy Array

### How to create a NumPy array?

#### Importing numpy package

In [ ]:
import numpy as np # Before using any package we need to import it , and we can provide its alias i.e. np here.

#### Creating int array/matrix

In [ ]:
intA = np.array([[1, 2, 3], [3, 4, 5]]) # A 2 X 3 matrix
print(intA) # We can print the numpy array in matrix manner by providing it as an argument in print function.
print(type(intA))

[[1 2 3]
 [3 4 5]]
<class 'numpy.ndarray'>

#### Creating float array/matrix

In [ ]:
floatA = np.array([[1.1, 2.2, 3.3], 
                   [4.4, 5.5, 6.6]])
print(floatA)
print(type(floatA))

[[1.1 2.2 3.3]
 [4.4 5.5 6.6]]
<class 'numpy.ndarray'>

#### Creating complex type of array/matrix

In [ ]:
comA = np.array([[5, 4], 
                 [3, 1]], dtype=complex) ## Provinding the datatype as an argument.
print(comA)
print(type(comA))

[[5.+0.j 4.+0.j]
 [3.+0.j 1.+0.j]]
<class 'numpy.ndarray'>

---

### Arrays of zeros and ones

#### Import statement

In [ ]:
import numpy as np

#### Creating array with all the element valued 0

In [ ]:
zerosA = np.zeros(5) # We have to provide size of an array/matrix as an argument
print(zerosA)

[0. 0. 0. 0. 0.]

In [ ]:
# We can make an array/matrix of size 0 , which will result in an empty array.
empty = np.zeros(0)
print(empty)

[]

#### Creating matrix with all the element valued 0

In [ ]:
zeroM = np.zeros((5, 8)) # We have to provide size of a matrix of multiple dimensions as a tuple , i.e., (5, 8) here
print(zeroM)

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]]

In [ ]:
# matrix of more than 2 dimensioins
dim3 = np.zeros((3, 4, 5))
print('Matrix of 3 dimensions :\n', dim3)

Matrix of 3 dimensions :
 [[[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]

 [[0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]
  [0. 0. 0. 0. 0.]]]

#### Creating array with all the element valued 1

In [ ]:
onesA = np.ones((10), dtype=int) # Providing datatype of elements
print('intiger dtype:', onesA)

intiger dtype: [1 1 1 1 1 1 1 1 1 1]

In [ ]:
floneA = np.ones(3) # Default dtype is float
print('float dtype:', floneA)

float dtype: [1. 1. 1.]

#### Creating matrix with all the element valued 1

In [ ]:
onesM = np.ones((5, 6))
print(onesM)

[[1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1.]]

### Using arange() and shape()

In [ ]:
import numpy as np

#### arrange function

```
arange(int start, int stop, int step)
```

Returns an array from ```start``` till ```stop``` - 1 (stop is excluded)
```step``` determines the integer to add in previous element.

In [ ]:
A = np.arange(0, 11, 1)
# this returns an array starting from 0 till 10 (as stop argument is excluded, so 11 - 1 = 10) taking 1 step forward each time 
print("A :", A)

# Alternatively, to start from 0 and taking only 1 step each time we can directly provide stopping value only
B = np.arange(11) 
# Remember here 11 will be excluded and array will have values till the previous number only i.e., 10
# this returns same result as A
print("B :", B)

A : [ 0  1  2  3  4  5  6  7  8  9 10]
B : [ 0  1  2  3  4  5  6  7  8  9 10]

In [ ]:
# Not providing step value results in taking 1 step each time 
B = np.arange(11, 21)
print(B)

[11 12 13 14 15 16 17 18 19 20]

Understandind ```step``` argument better

In [ ]:
# taking 2 as a step argument , 
#starting from first element every next element will have value of (it's previous element's value + step value i.e., 2)

oddA = np.arange(1, 11, 2)
print('odds :', oddA)

odds : [1 3 5 7 9]

In [ ]:
# if adding step value to previous element exceeds the stop - 1 , its discarded 
tableOf5 = np.arange(0, 55, 5)
print(tableOf5)
# after 50 , we can still go till 54 but our next element is 50 + 5 = 55;
# 55 exceeds the stop limit so we end up with array till 50 only

[ 0  5 10 15 20 25 30 35 40 45 50]

#### Reshaping the array

In [ ]:
# Creating a matrix of shape 2 X 3 (rows X columns)
foo = np.array([[1, 2, 3],
                [4, 5, 6]])
print(foo)

[[1 2 3]
 [4 5 6]]

In [ ]:
# We can't reshape this matrix in any random shape 
# reshaped matrix should have exact no of elements as the array we are reshaping
# our foo has rows X columns i.e., 2 X 3 = 6 elements 
# SOLUTIONS :
# 1] We can reshape it in either a row or column vector (true for any matrix)
# 2] we can reshape it in 3 X 2 

rowVec = foo.reshape(1, 6); # Row vector representation
print('Row vector representation:\n', rowVec)

colVec = foo.reshape(6, 1); # Column vector representation
print('Column vector representation:\n', colVec)

other = foo.reshape(3, 2); # other possible reshaped representation
print(' 3 X 2 Representation:\n', other)

Row vector representation:
 [[1 2 3 4 5 6]]
Column vector representation:
 [[1]
 [2]
 [3]
 [4]
 [5]
 [6]]
 3 X 2 Representation:
 [[1 2]
 [3 4]
 [5 6]]

### Matrix operations

In [2]:
import numpy as np

#### Addition

In [ ]:
# We use + operator to add corresponding elements of two NumPy matrices.
# Both arrays must have same shape
A = np.ones((3, 3)) 

B = np.ones((3, 3), dtype=int)

add = A + B # adding both mats and storing resultant matrix in variable add

print(add)

[[2. 2. 2.]
 [2. 2. 2.]
 [2. 2. 2.]]

#### Multiplication of Two Matrices

To multiply two matrices, we use dot() method.
```
matA.dot(matb)
```

In [3]:
A = np.ones((2, 3))
print('A :\n', A)

# In matrix multiplication,
# first matrix's #column must match second matrix's #rows.
# therefore , creating a matrix wth shape 3 X n (where , n could be any positive integer > 0)

B = np.zeros((3, 4)) 
print('\nB :\n', B)

N = A.dot(B) 
print('\nresultant mat:\n', N)

A :
 [[1. 1. 1.]
 [1. 1. 1.]]

B :
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

resultant mat:
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [4]:
A = np.array([[1, 3, 5],
              [3, 4, 0]])

B = np.array([[5, 3, 1],
              [0, 4, 3],
              [1, 1, 1]])

N = A.dot(B)
print(N)

[[10 20 15]
 [15 25 15]]

element wise multiplication
```
ans = matA*matB
```

In [5]:
A = np.arange(12)
print(A)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

In [6]:
B = A
print('B :\n', B)

B :
 [ 0  1  2  3  4  5  6  7  8  9 10 11]

In [8]:
# In element wise multiplication, shape of both matrices must be same.
squares = A*B
print('squares :\n', squares)

squares :
 [  0   1   4   9  16  25  36  49  64  81 100 121]

#### Transpose of a Matrix

In [10]:
import numpy as np

We use numpy.transpose to compute transpose of a matrix.
```
Matrix.transpose()
```

In [13]:
norm = np.arange(10, 101, 10).reshape((5, 2)) # Notice , initializing and reshaping has been done in same line.
print('norm :\n', norm)

norm :
 [[ 10  20]
 [ 30  40]
 [ 50  60]
 [ 70  80]
 [ 90 100]]

In [14]:
transpose = norm.transpose()
print('transpose :\n', transpose)

transpose :
 [[ 10  30  50  70  90]
 [ 20  40  60  80 100]]

#### Slicing of a Matrix

We have seen slicing of array already.

Slicing of matrix is similar but in multiple dimensions.

In [16]:
import numpy as np

In [15]:
mat = np.arange(1, 26).reshape(5, 5)
print('mat :\n', mat)

mat :
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]

In [17]:
# Let's print only first row
print('mat - first row:\n', mat[0])

mat - first row:
 [1 2 3 4 5]

In [18]:
# now , first two rows, we have many ways one of them is accessing both the rows individually and printing them.
print('mat - first two rows:\n', mat[0], mat[1])

mat - first two rows:
 [1 2 3 4 5] [ 6  7  8  9 10]

In [20]:
# However, representation is not good also if matrix size is very big and we want half of the rows , 
# it would be very difficult to print all those individually
# Let's use slicing here.
# again, we want to print first two rows

print ('mat - first two rows:\n', mat[:2])

mat - first two rows:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [24]:
# what if we want only first 3 elements of these two rows ?
# well, we use slicing in multiple dimensions

print ('mat - first 3 elements of first 2 rows:\n', mat[:2,:3])

mat - first 3 elements of first 2 rows:
 [[1 2 3]
 [6 7 8]]

In [28]:
# let's print last 2 elements of last 3 rows
# Yes, we'll use negative indexing

print('mat - last 2 elements of last 3 rows:\n', mat[-3::1, -2::1])

mat - last 2 elements of last 3 rows:
 [[14 15]
 [19 20]
 [24 25]]